body {
background-color:#e9f8ed;	
}
h1 {
	color:#850707;
  font-family: Arial Rounded MT Bold;
}

h2 {
	color:#850707;
   font-family: Arial Rounded MT Bold;
}

h3 {
	color:#850707;
   font-family: Arial Rounded MT Bold;
}

a {
	color:#850707;
   font-family: Arial Rounded MT Bold;
}

p {
	color:#850707;
   font-family: Arial Rounded MT Bold;
}




